<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zone.mapper.ArticleCategoryMapper">
    <delete id="deleteByArticleId" parameterType="java.lang.Integer">
        delete
        from article_category
        where article_id = #{id}
    </delete>

    <delete id="deleteByArticleIds">
        delete from
        article_category
        where article_id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteByCategoryId">
        delete
        from article_category
        where category_id = #{id}

    </delete>

    <select id="findByArticleId" resultType="java.lang.String" parameterType="java.lang.Integer">
        select c.account
        from article_category ac
                 left join category c
                           on ac.category_id = c.id
        where article_id = #{id}
    </select>


</mapper>