<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zone.mapper.ArticleMapper" >



    <update id="update" parameterType="com.zone.entity.Article">
        update article
        <set>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="content != null">
                content = #{content},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="deleteTime != null">
                delete_time = #{deleteTime},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="articleView != null">
                article_view = #{articleView},
            </if>
            <if test="articleLike != null">
                article_like = #{articleLike},
            </if>
            <if test="articleViewPower != null">
                article_view_power = #{articleViewPower},
            </if>
            <if test="deleteStatus != null">
                delete_status = #{deleteStatus},
            </if>
        </set>
        where id = #{id}
    </update>




    <select id="search" resultType="com.zone.entity.Article">
        select * from article
        <where>
            <if test="title != null">
                title like concat('%',#{title},'%')
            </if>
            <if test="categoryId != null">
                and id in (select article_id from article_category where category_id = #{categoryId})
            </if>
            <if test="tagId != null">
                and id in (select article_id from article_tag where tag_id = #{tagId})
            </if>
            <if test="deleteStatus != null">
                and delete_status = #{deleteStatus}
            </if>
        </where>

    </select>


</mapper>