<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zone.mapper.UserMapper">


    <insert id="insert" parameterType="com.zone.entity.User" keyProperty="userId">
        INSERT INTO user (password, user_name, email) VALUES (#{password}, #{name}, #{email})
    </insert>
    <update id="update">
        update user
        <set>
            <if test="user.password != null">
                password = #{user.password},
            </if>
            <if test="user.name != null">
                user_name = #{user.name},
            </if>
            <if test="user.email != null">
                email = #{user.email},
            </if>
            <if test="user.power != null">
                power = #{user.power},
            </if>
            <if test="user.status != null">
                status = #{user.status},
            </if>
            <if test="user.updateTime != null">
                update_time = #{user.updateTime},
            </if>
            <if test="user.articleCount != null">
                article_count = #{user.articleCount},
            </if>
            <if test="user.avatarUrl != null">
                avatar_url = #{user.avatarUrl},
            </if>
            <if test="user.createTime != null">
                create_time = #{user.createTime},
            </if>

        </set>

        where user_id = #{user.userId}
    </update>

</mapper>